<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="menu">
  <a routerLink="/">Kezdőoldal</a>
  <a routerLink="/login" *ngIf="!authService.isLoggedIn()">Bejelentkezés</a>
  <a routerLink="/register" *ngIf="!authService.isLoggedIn()">Regisztráció</a>
  <a routerLink="/admin" *ngIf="authService.isLoggedIn()">Admin</a>
  <div *ngIf="authService.isLoggedIn()">
    Bejelentkezve, mint: {{authService.userEmail}}
    <button class="logout-button" (click)="authService.logout()">Kijelentkezés</button>
  </div>
</nav>
<router-outlet></router-outlet>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

