/* app.component.css */
.menu {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.menu a {
  color: #495057;
  text-decoration: none;
}

.menu a:hover {
  color: #212529;
}

button.logout-button {
  background-color: #f44336; /* Piros */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.logout-button:hover {
  background-color: #d32f2f; /* Sötét piros */
}
